In [1]:
""" PART-1 """
""" 1 """
import pandas as pd
import numpy as np
exam_data = pd.DataFrame( { 'labels': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],

'name': ['Amy', 'Dinesh', 'Kelly', 'Jenny', 'Vinod', 'Kevin', 'Thor', 'Lisa', 'Kate','Simpson'],

'score': [11.5, 7, 16.5, np.nan, 8, 21, 14.5, np.nan, 9, 18],'attempts': [3, 2, 1, 3, 2, 2, 13, 1, 1, 7] })
dp = pd.DataFrame(exam_data)
print("\nDeleted the 'attempts' column from the data frame:")
dp.pop('attempts')
dp.set_index('labels',inplace=True)
print(dp)

Deleted the 'attempts' column from the data frame:
           name  score
labels
a           Amy   11.5
b        Dinesh    7.0
c         Kelly   16.5
d         Jenny    NaN
e         Vinod    8.0
f         Kevin   21.0
g          Thor   14.5
h          Lisa    NaN
i          Kate    9.0
j       Simpson   18.0

In [2]:
""" 2 """
Browser=pd.DataFrame({'index' : ['Firefox','Chrome','Safari','IE10','Konqueror'],'http_status':['301','200','404','404','200'],
                  'response_time':['1.00','0.02','0.08','0.07','0.04'] })
new_index =['Iceweasel', 'Safari', 'IE 10', 'Chrome', 'Comodo Dragon']
dp = pd.DataFrame(Browser)
dp=dp.drop(['index'],axis=1)
idx=0
dp.insert(loc=idx, column='new_index', value=new_index)
dp.set_index('new_index',inplace=True)
print(dp)

              http_status response_time
new_index
Iceweasel             301          1.00
Safari                200          0.02
IE 10                 404          0.08
Chrome                404          0.07
Comodo Dragon         200          0.04

In [3]:
emp=({'Name':['Dulkar','Lal','Abhi','Judy'],'Age':[34,76,68,25],
      'Year of joining':['02-06-2000','26-03-1994','18-11-2002','06-02-2010']})
dp=pd.DataFrame(emp)
dp.set_index('Name',inplace=True)
print(dp[(dp['Age']>=68)])

      Age Year of joining
Name
Lal    76      26-03-1994
Abhi   68      18-11-2002

In [4]:
"""  Part-2  """
""" 1 """
sample_data=({'Origin': ['Oregon', 'Wyoming', 'Louisiana', 'Georgia', 'Arizona', 'California', 'Texas', 'Florida','Maine', 'Iowa', 'Alaska', 'Washington'],
              'Regiment':['Scouts', 'Scouts', 'Scouts', 'Scouts', 'Nighthawks', 'Nighthawks','Nighthawks','Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons'],
              'Company':['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd'],
              'Deaths':[62, 73, 37, 35, 523, 52, 25, 616, 43, 234, 523, 62],
              'Battles':[4, 7, 8, 9, 5, 42, 2, 2, 4, 7, 8, 3],
              'Size':[973, 1005, 1099, 1523, 1045, 957, 1099, 1400, 1592, 1006, 987, 849],
              'Veterans':[48, 435, 63, 345, 1, 5, 62, 26, 73, 37, 949, 48],
              'Readiness':[2, 1, 2, 3, 1, 2, 3, 3, 2, 1, 2, 3],
              'Armored': [0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1,],
              'Deserters': [2, 3, 2, 3, 4, 24, 31, 2, 3, 4, 24, 31]})
Army=pd.DataFrame(sample_data)
print(Army)

        Origin    Regiment Company  Deaths  Battles  Size  Veterans  \
0       Oregon      Scouts     1st      62        4   973        48
1      Wyoming      Scouts     1st      73        7  1005       435
2    Louisiana      Scouts     2nd      37        8  1099        63
3      Georgia      Scouts     2nd      35        9  1523       345
4      Arizona  Nighthawks     1st     523        5  1045         1
5   California  Nighthawks     1st      52       42   957         5
6        Texas  Nighthawks     2nd      25        2  1099        62
7      Florida  Nighthawks     2nd     616        2  1400        26
8        Maine    Dragoons     1st      43        4  1592        73
9         Iowa    Dragoons     1st     234        7  1006        37
10      Alaska    Dragoons     2nd     523        8   987       949
11  Washington    Dragoons     2nd      62        3   849        48

    Readiness  Armored  Deserters
0           2        0          2
1           1        0          3
2           2        1          2
3           3        1          3
4           1        1          4
5           2        0         24
6           3        1         31
7           3        1          2
8           2        0          3
9           1        1          4
10          2        0         24
11          3        1         31

In [5]:
""" 2 """

Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
print(Army)

              Regiment Company  Deaths  Battles  Size  Veterans  Readiness  \
Origin
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1
Louisiana       Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Maine         Dragoons     1st      43        4  1592        73          2
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3

            Armored  Deserters
Origin
Oregon            0          2
Wyoming           0          3
Louisiana         1          2
Georgia           1          3
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31

In [6]:
""" 3 """

Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
print(Army.loc[['Georgia','Florida','California'],['Regiment','Deaths','Size']])

              Regiment  Deaths  Size
Origin
Georgia         Scouts      35  1523
Florida     Nighthawks     616  1400
California  Nighthawks      52   957

In [13]:
""" 4 """
Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
print(Army.iloc[2:9,3:7])

            Battles  Size  Veterans  Readiness
Origin
Louisiana         8  1099        63          2
Georgia           9  1523       345          3
Arizona           5  1045         1          1
California       42   957         5          2
Texas             2  1099        62          3
Florida           2  1400        26          3
Maine             4  1592        73          2

In [16]:
""" 5 """
Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
df=Army.loc['Georgia':]
print(df)

              Regiment Company  Deaths  Battles  Size  Veterans  Readiness  \
Origin
Georgia         Scouts     2nd      35        9  1523       345          3
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Maine         Dragoons     1st      43        4  1592        73          2
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3

            Armored  Deserters
Origin
Georgia           1          3
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31

In [17]:
""" 6 """

Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
print(Army.iloc[3:8])

              Regiment Company  Deaths  Battles  Size  Veterans  Readiness  \
Origin
Georgia         Scouts     2nd      35        9  1523       345          3
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3

            Armored  Deserters
Origin
Georgia           1          3
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2

In [65]:
""" 7 """
Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
print(Army[(Army['Battles']>5)])

              Regiment Company  Deaths  Battles  Size  Veterans  Readiness  \
Origin
Wyoming         Scouts     1st      73        7  1005       435          1
Louisiana       Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3
California  Nighthawks     1st      52       42   957         5          2
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2

            Armored  Deserters
Origin
Wyoming           0          3
Louisiana         1          2
Georgia           1          3
California        0         24
Iowa              1          4
Alaska            0         24

In [66]:
""" 8 """
Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
print(Army[(Army['Deaths'] < 50) | (Army['Deaths'] > 500)])

             Regiment Company  Deaths  Battles  Size  Veterans  Readiness  \
Origin
Louisiana      Scouts     2nd      37        8  1099        63          2
Georgia        Scouts     2nd      35        9  1523       345          3
Arizona    Nighthawks     1st     523        5  1045         1          1
Texas      Nighthawks     2nd      25        2  1099        62          3
Florida    Nighthawks     2nd     616        2  1400        26          3
Maine        Dragoons     1st      43        4  1592        73          2
Alaska       Dragoons     2nd     523        8   987       949          2

           Armored  Deserters
Origin
Louisiana        1          2
Georgia          1          3
Arizona          1          4
Texas            1         31
Florida          1          2
Maine            0          3
Alaska           0         24

In [18]:
""" 9 """

Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
print(Army[Army['Regiment'] != 'Scouts'])

              Regiment Company  Deaths  Battles  Size  Veterans  Readiness  \
Origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Maine         Dragoons     1st      43        4  1592        73          2
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3

            Armored  Deserters
Origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31

In [19]:
""" 10 """
Army=pd.DataFrame(sample_data)
Army.set_index('Origin',inplace=True)
print(Army.loc['Alaska','Company'])

2nd